@import "../../../configuration/variables.scss";

#utilitiesBox {
	margin-top: $itemMargin;
}

#uploadProfileImageBox {
	margin-bottom: $itemMargin;
}

@media only screen and (max-width: $mobileWidth) {
	#userForm {
		flex-direction: column !important;
		> div {
			width: 100%;
		}

		#uploadProfileImageBox {
			margin-top: $itemMargin;
		}

		#userFormPersonalInformationBox {
			margin-bottom: $itemMargin;
		}
	}
}
