@import "../../configuration/variables.scss";

#privacyPolicyBox {
	margin-bottom: $itemMargin;
}
#termsAndConditionsBox {
	margin-top: $itemMargin;
}
.lightThemeEditor {
}
.darkThemeEditor {
	.rdw-editor-toolbar {
		background-color: #424242;
		color: black;
		border-top: unset !important;
		border-right: unset !important;
		border-left: unset !important;
		border-bottom: 1px solid #f1f1f1 imp !important;
	}
	.rdw-option-wrapper,
	.rdw-dropdown-selectedtext {
		background-color: #c1c1c1;
	}
}
.editor-wrapper {
	border: 1px #ccc solid;
	border-radius: 5px;
	.editor {
		padding: 0px 10px;
	}
}

/*.row-form {
	.form-control,
	.MuiPaper-root {
		display: flex;
		flex: 1;
		margin-right: 15px;

		&:last-of-type {
			margin-right: 0;
		}
	}
}*/

.editor {
	min-height: 20vh;
	max-height: 50vh;
}

@media only screen and (max-width: $mobileWidth) {
	/*	.row-form {
		.form-control,
		.MuiPaper-root {
			margin-right: 0px;
		}
	}*/
}
